# Ignore Xcode project user data
**/xcuserdata/
**/*.xccheckout
**/*.xcuserstate
**/*.xcworkspace/xcuserdata/
RayTracerApp.xcodeproj/project.xcworkspace/xcuserdata/032zolotarev.xcuserdatad/UserInterfaceState.xcuserstate

# Ignore Xcode specific metadata
**/DerivedData/

# Xcode build папка
build/

# Swift Package Manager
.build/
Packages/

# SwiftPM
.swiftpm/

.env
*.xcconfig
